body{
  width: 100%;
}
#index0{
  background-color: cyan;
}
#sigma-container{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#classIndex{
  width: 30%;
  margin: 0 auto;
}
.stuff {
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;;
}
