body{
  width: 100%;
  background-color: teal;
}
button{
  background-color: grey;
  border-radius: 10px;
}
#index0{
  background-color: grey;
}
#sigma-container{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#classIndex{
  width: 30%;
  margin: 20px auto;
}
.stuff {
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}
